@tailwind base;
@tailwind components;
@tailwind utilities;

html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* Hide horizontal scrollbar (keeps it scrollable) */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
